body{
    background-color: #434455;
    font-family: "Roboto", sans-serif;
    width: 100%;
}
.d-block{
    display: block;
    height: 500px;
}
.header{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e7e9fc;
}
header .container{
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    margin-right: 76px;
}
.nav-item{
    padding-left: 25px;
}
.subcategory :hover{
    background-color: aquamarine;
}
.catalog {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
main{
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album .container{
    display: flex;
}
.imagepreview{
    display: block;

}
footer{
    padding: 20px 0;
    background: rgba(46, 47, 66, 1);
}
.footer .massengers{
    color: rgba(244, 244, 253, 1);
}
footer .container{
    display: flex;
    max-width: 100%;
    padding: 0%;
    margin-left: 25%;
    margin-right: 25%;
}
.info-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 10px;
    gap: 30px;
}
.album img{
    display: block;
    object-fit: cover;
    height: 250px;
    margin: 0;
}
.card{
    width: 18rem;
}
.insta{
    list-style-type: none;
}
